{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}

{% block body %}

	{% if app.user %}
		<div
			class="mb-3">
			<!-- Display the user's profile image (default or custom) -->
			<a href="#" onclick="toggleUserInfo(event)">
				<img src="{{ asset('uploads/profile_images/' ~ (app.user.profileImage ? app.user.profileImage : 'default_image.png')) }}" alt="Profile Image" style="width: 60px; height: 60px; border-radius: 50%;">


			</a>

			<div id="user-info" style="display: none; margin-top: 10px;">

				<a href="{{ path('profile') }}">Paramètre</a><br>
				<a href="{{ path('app_logout') }}">Déconnexion</a>
			</div>
		</div>

		<div>
			<p>Nom d'utilisateur :
				{{ app.user.username }}</p>
			<p>Rôle: Administrateur</p>

		</div>

		<script>
			function toggleUserInfo(event) {
event.preventDefault();
let userInfo = document.getElementById("user-info");
userInfo.style.display = userInfo.style.display === "none" ? "block" : "none";
}
		</script>
	{% endif %}

{% endblock %}
