{% extends 'base.html.twig' %}

{% block title %}Page non trouvée
{% endblock %}

{% block body %}
	<div style="text-align: center; padding: 50px;">
		<h1>404 - Page non trouvée</h1>
		<p>Désolé, la page que vous recherchez n'existe pas.</p>

		{% if is_granted('ROLE_ADMIN') %}
			<a href="{{ path('app_admin') }}" style="color: #4CAF50; text-decoration: none;">← Retour à l'accueil</a>
		{% else %}
			<a href="{{ path('app_user') }}" style="color: #4CAF50; text-decoration: none;">← Retour à l'accueil</a>
		{% endif %}


	</div>
{% endblock %}
